<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <div class="container">
        <form action="/addRestaurant" method="post">
            <h2>Add a restaurant</h2>
            <div class="form-group">
                <h3>Restaurant Name</h3>
                <input id="restaurant" name="restaurant_name" class="form-control" type="text">
            </div>
            <div class="form-group">
                <h3>Cuisine</h3>
                <input id="cuisine" name="cuisine" class="form-control" type="text">
            </div>
            <button type="submit" class="btn btn-info">ADD!</button>
        </form>

        <form action="/search_cuisine" method="post">
            <h2>Search By Cuisine</h2>
            <div class="form-group">
                <h3>Cuisine Name</h3>
                <input id="cuisine" name="cuisine" class="form-control" type="text">
            </div>
            <button type="submit" class="btn btn-info">Search!</button>
        </form>

        <form action="/search_name" method="post">
            <h2>Search By Restaurant Name</h2>
            <div class="form-group">
                <h3>Restaurant Name</h3>
                <input id="restaurant_name" name="restaurant_name" class="form-control" type="text">
            </div>
            <button type="submit" class="btn btn-info">Search!</button>
        </form>
    </div>
</body>
</html>
