<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Slabo+27px" rel="stylesheet">
    <title></title>
</head>
<body>
    <div class="container">
        <h1>Update {{ restaurant.getRestaurantName }} Address</h1>
        <form action="/restaurants/{{ restaurant.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
            <label for="contact">New contact info</label>
            <input id="contact" name="contact" type="text">
            <button type="submit" class="btn btn-info">Update</button>
        </form>

        <form action="/restaurants/{{ restaurant.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">

            <button type="submit" class="btn btn-danger">Delete this restaurant</button>
        </form>

        <p><a href="/">Home</a></p>
    </div>
</body>
</html>
